/.idea/
/layman_data/
/layman_data_test/
/tmp/
/.env

*.pyc
**/.pytest_cache

src/layman_settings.py

/deps/*/data
/deps/*/tmp
/deps/*/log

/deps/liferay/transit/*
!/deps/liferay/transit/.gitkeep

/.env*
!/.env.demo
!/.env.dev
!/.env.test
