version: '3.3'

services:
   layman_test:
      container_name: layman_test
      image: layman_dev:latest
      user: ${UID_GID}
      command: bash test.sh
      env_file:
         - .env.test
      environment:
        - CI=${CI}
      volumes:
        - ./layman_data_test:/layman_data_test
        - ./sample:/code/sample
        - ./src:/code/src
        - ./test:/code/test
        - ./tmp:/code/tmp
        - ./test.sh:/code/test.sh
        - ./pytest.ini:/code/pytest.ini
        - ./.pylintrc:/code/.pylintrc
        - ./version.txt:/code/version.txt
        - ./ensure-test-data.sh:/code/ensure-test-data.sh
        - ./deps/geoserver/data:/geoserver/data_dir
        - ./deps/geoserver/sample/geoserver_data:/geoserver/initial_data_dir
        - ./deps/qgis/data:/qgis/data
      depends_on:
        - celery_worker_test

   celery_worker_test:
      image: layman_dev:latest
      user: ${UID_GID}
      # use watchdog
      command: bash -c "cd src && python3 wait_for_deps.py && watchmedo auto-restart -d . -p '*.py' --recursive -- python3 -m celery -Q $${LAYMAN_CELERY_QUEUE} -A layman.celery_app worker --loglevel=info"
      env_file: .env.test
      environment:
        - C_FORCE_ROOT=true
        - LAYMAN_SKIP_REDIS_LOADING=true
      volumes:
        - ./layman_data_test:/layman_data_test
        - ./sample:/code/sample
        - ./src:/code/src
        - ./tmp:/code/tmp
        - ./deps/qgis/data:/qgis/data
      depends_on:
        - redis
        - postgresql
        - nginx-qgis
        - geoserver
        - micka
        - timgen
        - layman_client_test

   timgen:
      container_name: timgen
      build:
        context: timgen
        dockerfile: Dockerfile.production
      image: timgen:latest
      user: ${UID_GID}
      command: sh -c "node proxy.js & ./node_modules/.bin/http-server dist/"
#      ports:
#        - 8080:8080
#        - 8081:8081

   layman_client_test:
      container_name: layman_client_test
      build:
        context: client
        dockerfile: docker/Dockerfile.production
        args:
           - LAYMAN_CLIENT_VERSION=${LAYMAN_CLIENT_VERSION}
           - LTC_BASEPATH=${LTC_BASEPATH}
      image: layman_client_test:latest
      command: sh -c "npm start"
      env_file:
         - .env.test
      depends_on:
        - redis
