version: '3.3'

volumes:
   redis-data:

services:
   postgresql:
      image: layermanager/postgis:13.3-3.1-20210608
      volumes:
        - ./deps/postgresql/data:/var/lib/postgresql/data
      ports:
        - "25433:5432"
      environment:
         - POSTGRES_USER=docker
         - POSTGRES_PASSWORD=docker
         - POSTGRES_DB=gis
      restart: on-failure

   qgis:
      build:
        context: deps/qgis/docker
        dockerfile: Dockerfile
      volumes:
        - ./deps/qgis/data:/qgis/data:ro
      restart: on-failure
      environment:
        - LANG=en_EN.UTF-8
        - QGIS_SERVER_LOG_LEVEL=0
        - DEBUG=1                  # display env before spawning QGIS Server
      depends_on:
        - postgresql

   nginx-qgis:
      image: nginx:1.13
      ports:
        - 8090:80
      volumes:
        - ./deps/nginx/sample/nginx-qgis.conf:/etc/nginx/conf.d/default.conf:ro
      depends_on:
        - qgis

   geoserver:
      build:
        context: deps/geoserver/docker
        dockerfile: Dockerfile
      volumes:
        - ./deps/geoserver/data:/opt/geoserver/data_dir
      ports:
        - "8600:8080"
      restart: on-failure
      environment:
        - GS_VERSION=2.15.2
      env_file:
        - deps/geoserver/docker/.env
      depends_on:
        - postgresql
        - nginx-qgis

   redis:
      image: redis:4.0.11-alpine
      ports:
        - 6379:6379
      volumes:
        - redis-data:/data

   liferay:
      build:
        context: deps/liferay/docker
        dockerfile: Dockerfile
      ports:
        - 8082:8080
      volumes:
        - ./deps/liferay/transit:/etc/liferay/tmp # for copying files from within the container to host
                                                  # https://github.com/docker/compose/issues/3270#issuecomment-206214034
                                                  # ./deps/liferay/tmp must be owned by non-root
        - ./deps/liferay/sample/hypersonic:/etc/liferay/mount/files/data/hypersonic

   micka:
      container_name: micka
      build:
        context: deps/micka/docker
        dockerfile: Dockerfile
      command: bash -c "cd /code/src && python3 wait_for_deps.py && /etc/init.d/php7.3-fpm start && nginx -g 'daemon off;'"
      env_file:
        - deps/micka/docker/.env
      ports:
        - 3080:80
      volumes:
        - ./deps/micka/docker/code/src:/code/src
        - ./deps/micka/sample/confs/bootstrap.php:/var/www/html/Micka/php/app/bootstrap.php
        - ./deps/micka/sample/confs/config.local.neon:/var/www/html/Micka/php/app/config/config.local.neon
        - ./deps/micka/sample/confs/default:/etc/nginx/sites-available/default
        - ./deps/micka/sample/php/app/router/RouterFactory.php:/var/www/html/Micka/php/app/router/RouterFactory.php
      depends_on:
        - postgresql
