[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
watchdog = "*"

[packages]
celery = {extras = ["redis"],version = "*"}
flask = "*"
unidecode = "*"
psycopg2-binary = "*"
requests = "*"
owslib = "*"
jsonschema = "*"
flower = "*"
selenium = "*"
cacheout = "*"

[requires]
python_version = "3.6"
