[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
watchdog = {extras = ["watchmedo"],version = "*"}
flake8 = "*"
pycodestyle = "*"
pylint = "*"
autopep8 = "*"
pytest-rerunfailures = "*"
pytest-timeout = "*"
pillow = "*"

[packages]
celery = {extras = ["redis"],version = "<5.0.0"}
flask = "*"
unidecode = "*"
psycopg2-binary = "*"
requests = "*"
owslib = "*"
jsonschema = "*"
flower = "*"
selenium = "*"
cacheout = "*"
kombu = "==4.6.10"
pyproj = "<3.0.0"
pycld2 = "*"

[requires]
python_version = "3.6"
