[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
watchdog = {extras = ["watchmedo"],version = "*"}
flake8 = "*"
pycodestyle = "*"
pylint = "==2.15.9"
autopep8 = "*"
pytest-rerunfailures = "*"
pytest-timeout = "*"
pillow = "*"
jsonpath-ng = "*"

[packages]
celery = {extras = ["redis"],version = "<5.3.0"}
flask = ">=2.3.2"
unidecode = "*"
psycopg2-binary = "*"
requests = "*"
owslib = "*"
jsonschema = "*"
flower = "==1.2"
selenium = "==4.7"
cacheout = "*"
kombu = "<5.3.0"
pycld2 = "*"

[requires]
python_version = "3.8"
