[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
watchdog = {extras = ["watchmedo"],version = "*"}
flake8 = "*"
pycodestyle = "*"
pylint = "==2.7.4"
autopep8 = "*"
pytest-rerunfailures = "*"
pytest-timeout = "*"
pillow = "*"

[packages]
celery = {extras = ["redis"],version = "<5.3.0"}
flask = ">=2.0.2"
unidecode = "*"
psycopg2-binary = "*"
requests = "*"
owslib = "==0.22.0" # https://github.com/geopython/OWSLib/issues/762
jsonschema = "*"
flower = "*"
selenium = ">=4"
cacheout = "*"
kombu = "<6.0.0"
pyproj = "<3.0.0"
pycld2 = "*"

[requires]
python_version = "3.8"
